:root {
    --dark-color: #0B0D17;
    --light-color: #D0D6F9;
    --white: #ffffff;
    --main-font: "Bellefair", serif;
    --secondary-font: "Barlow Condensed", sans-serif; 
    --text-font: "Barlow", sans-serif;
}
.link-style {
    color: var(--white);
    text-decoration: none;
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    position: relative;
}
.active:hover::after {
    opacity: 1;
}
/* Start Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    width: auto;
    height: 100px;
}
.navbar .logo {
    margin-left: 70px;
}
.line {
    height: 2px;
    width: 30%;
    position: absolute;
    background-color: #9797974c;
    margin-left: 11%;
    z-index: 2;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 30px 150px;
    backdrop-filter: blur(50px);
    background-color: #97979722;
}
.navbar ul li {
    padding-inline: 35px;
}
ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -30px;
    transition-duration: .3s;
}
ul li .active {
    color: var(--white) !important;
}
ul li .active::after {
    width: 100%;
}
ul li a:hover::after {
    width: 100%;
}
ul li a:not(.active):hover::after {
    opacity: .5;
}
@media (max-width: 768px) {
    .mobile-d-none {
        display: none;
    }
}
/* End Navbar Styling */