/* Start General Rules */
:root {
    --dark-color: #0B0D17;
    --light-color: #D0D6F9;
    --white: #ffffff;
    --main-font: "Bellefair", serif;
    --secondary-font: "Barlow Condensed", sans-serif; 
    --text-font: "Barlow", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-size: cover;
    color: var(--white);
}
/* End General Rules */
/* Start Main-Content */
.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: calc(100% - 10%);
    margin-left: 10%;
    margin-top: calc(25% - 100px);
}
.main-content h1 {
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 4px;
}
.main-content .header {
    color: var(--white);
    font-family: var(--main-font);
    font-size: 9.25rem;
    letter-spacing: 0;
    margin-block: 20px;
}
.main-content p {
    max-width: calc(35% - 15px);
    font-family: var(--text-font);
    font-size: calc(1rem + 2px);
    letter-spacing: 0;
    color: var(--light-color);
}
.main-content .btn {
    position: absolute;
    background-color: var(--white);
    left: 75%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-family: var(--main-font);
    font-size: 32px;
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: none;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.main-content .btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    opacity: .25;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.main-content .btn:hover::after {
    width: 150%;
    height: 150%;
    /* transform: translate(-50%, -50%); */
    top: -25%;
    left: -25%;
}
.main-content .btn:hover {
    width: 280px;
    height: 280px;
}
/* End Main-Content */